
.navbar-brand{
    background-image: url("medlo.png");
    background-size: cover;
    height: 55px;
    width: 100px;
    border-radius: 5px;
}

.logo{
    background: url("medlo.png");
    background-size: cover;
   
    height: 55px;
    width: 100px;
    border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
}
.container{
    background-image: url("backmed.jpg");
    background-size: cover;
    width: 100%;
    border-radius: 20px;
}